.box, html {
	height: 100%
}

#msform, .box {
	margin-top: 20px
}

#msform fieldset:not (:first-of-type ), .box, .hide {
	display: none
}

* {
	margin: 0;
	padding: 0
}

button:focus {
	outline: 0
}

.ct_total {
	font-size: 16px !important
}

.red {
	color: red;
	font-size: 18px
}

body {
	background: 0 0
}

.radio-inline {
	margin-left: 18% !important;
	font-size: 14px;
	padding: 0;
	color: #000
}

.guest, .returning, .returning1 {
	border: 2px solid #f7941d;
	margin-bottom: 20px;
	margin-left: 0 !important
}

.box {
	color: #fff;
	padding: 20px
}

.returning, .returning1 {
	width: 100%
}

.login {
	width: 140px
}

.guest {
	width: 100%
}

.aleft input {
	width: 48%;
	float: left;
	margin-left: 1%;
	border: 1px solid #fdfdfd
}

#first, fieldset {
	width: 350px;
	padding: 20px;
	margin-top: 50px;
	border-radius: 5px;
	margin-left: 85px
}

#msform {
	text-align: center;
	position: relative
}

#first {
	display: block
}

#msform fieldset {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10% 10px;
	position: relative;
	box-shadow: none !important
}

.outer-border, .outer-border3 {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #ccc
}

.outer-border, .outer-border1, .outer-border2, .outer-border3 {
	margin-bottom: 10px;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 14px;
	text-align: left
}

.outer-border {
	border-radius: 0;
	width: 100%
}

.outer-border3 input {
	border: none !important
}

.outer-border3 {
	border-radius: 0;
	width: 92%;
	margin-left: 10px
}

.lsp, .rsp {
	margin-left: 50%
}

.outer-border1, .outer-border2 {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 0;
	width: 28%;
	float: left;
	margin-left: 4%
}

.outer-border label {
	color: #2C3E50;
	font-size: 14px;
	text-align: left;
	padding-left: 25px
}

.outer-border1 select {
	border: none !important;
	width: 200px
}

.outer-border input[type=text], .outer-border input[type=email],
	.outer-border input[type=number], .outer-border input[type=password] {
	border: none !important;
	color: #2C3E50;
	font-size: 14px;
	text-align: left;
	width: 100%
}

.outer-border select {
	border: none !important;
	color: #2C3E50 !important;
	font-size: 14px;
	text-align: left;
	padding: 0 !important
}

.outer-border1 input {
	border: none;
	color: #4d4d4d;
	font-size: 14px;
	text-align: left;
	width: 100%
}

#msform .action-button, #msform .signup-button {
	background: #f7941d;
	font-weight: 700;
	color: #fff;
	cursor: pointer
}

.outer-border : focus {
	outline: 0 !important
}

.outer-border input:focus, .outer-border textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: 0 !important;
	transition: All .5s ease-in;
	-webkit-transition: All .5s ease-in;
	-moz-transition: All .5s ease-in;
	-o-transition: All .5s ease-in
}

#msform .action-button {
	width: 100px;
	border: 0;
	border-radius: 25px;
	padding: 10px 5px;
	margin: 10px 5px
}

#msform .action-button:focus, #msform .action-button:hover {
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #f7941d
}

#business select {
	width: 99%
}

#msform .signup-button {
	width: 100px;
	border: 0;
	border-radius: 25px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px
}

#msform .action-button-forgot, #msform .action-button-previous {
	background: #b4b4b4;
	color: #fff;
	padding: 10px 15px;
	margin: 10px 5px;
	font-weight: 700;
	cursor: pointer
}

#msform .action-button-forgot:focus, #msform .action-button-forgot:hover,
	#msform .signup-button:focus, #msform .signup-button:hover {
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #00aeef; background:#00aeef;}

#msform .action-button-forgot {
	width: 150px;
	border: 0;
	border-radius: 25px
}

#msform .action-button-previous {
	border: 0;
	border-radius: 25px;
	height: auto
}

#msform .action-button-previous:focus, #msform .action-button-previous:hover
	{
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #00aeef;
	outline: 0
}

.fs-title {
	font-size: 16px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	letter-spacing: 2px;
	font-weight: 700;
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 2px dashed #ccc
}

.fs-subtitle {
	font-weight: 400;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step
}

#msform ul {
	margin-left: 4%
}

#progressbar li {
	list-style-type: none;
	color: gray;
	text-transform: uppercase;
	font-size: 9px;
	width: 23%;
	float: left;
	position: relative;
	letter-spacing: 1px
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 24px;
	height: 24px;
	padding-top: 2px;
	display: block;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background: orange;
	border-radius: 25px;
	margin: 0 auto 10px
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: orange;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1
}

#progressbar li:first-child:after {
	content: none
}

#progressbar li.active:after, #progressbar li.active:before {
	background: #4d4d4d;
	color: #f7941d
}

.dme_link {
	margin-top: 30px;
	text-align: center
}

.dme_link a {
	background: #FFF;
	font-weight: 700;
	color: #ee0979;
	border: 0;
	border-radius: 25px;
	cursor: pointer;
	padding: 5px 25px;
	font-size: 12px
}

.dme_link a:focus, .dme_link a:hover {
	background: #C5C5F1;
	text-decoration: none
}

.outer-border2 select {
	border: 1px solid #ccc;
	color: #2C3E50;
	font-size: 14px;
	text-align: left;
	width: 33%;
	float: left;
	border-radius: 0;
	margin-left: -10px;
	padding: 5px
}

.form-inline {
	margin-left: -10px;
	color: #ccc;
	width: 100%
}

.info-form input[type=text], select {
	width: 100% !important;
	border-radius: 0 !important;
	border-color: #ccc !important;
	color: #2C3E50
}

.outer-box input {
	padding-left: 20px;
	float: left;
	color: #000 !important
}

.form-inline input, .form-inline1 input {
	color: #2C3E50;
	font-size: 14px;
	text-align: left;
	float: left
}

.form-inline1 input {
	width: 29%;
	border-radius: 0;
	margin-left: 3%;
	padding: 5px;
	border: 1px solid orange;
	margin-top: 10px
}

.form-inline input {
	width: 100%;
	border-radius: 0;
	padding: 12px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	margin-left: 3.4%
}

.returning input, .returning2 .radio-inline input {
	border: 1px solid #ccc;
	color: #2C3E50;
	font-size: 14px;
	padding: 5px !important;
	margin-top: 2%
}

.returning input {
	text-align: left;
	width: 45%;
	float: left;
	margin-left: 2%
}

.returning2 .radio-inline input {
	width: 100%
}

.total {
	color: orange;
	font-size: 17px;
	font-weight: 700;
	padding-top: 20px;
	text-align: center
}

@media screen and (max-height:300px) {
	.tip {
		position: absolute;
		top: 50px
	}
}

@media only screen and (max-width:482px) {
	.radio-inline {
		margin-left: 15% !important
	}
	.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox],
		.radio input[type=radio], .radio-inline input[type=radio] {
		height: 12px;
		margin-left: -17px
	}
	#msform fieldset {
		width: 87%;
		margin: 0 5% 0 27px
	}
	.container-whitefooter {
		margin-top: -40px !important;
		border: none !important;
		width: 100% !important
	}
	.action-button-previous {
		background: #00aeef;
		font-weight: 700;
		color: #fff;
		border: 0;
		border-radius: 25px;
		cursor: pointer;
		padding: 10px 15px !important;
		margin: 10px 5px;
		height: auto
	}
	.extra {
		width: 98% !important
	}
}