
.myForm, .myForm1, .myForm2, .myForm4,.myForm5, .myForm6,.myForm7,.myForm8,.myForm9 {
display :inline;}

.myForm{position: relative;  width:30%; display: inline-block;}
.myForm input{display: none;}
.myForm label{float: left; line-height: 1.4}
.myForm label::before{
 
  content: url(../img/lhcircle-g.png);
  border: none;
  float: left;
  margin:0 10px;
  cursor: pointer;
}
.myForm input[type=checkbox]:checked + label::after{display: block;}
.myForm label::after{
  display: none;
  left: 10px;
  content: url(../img/lhcircle.png);
  color: #2196F3;
  position: absolute;
  cursor: pointer;
}



.myForm1{position: relative;  width:30%;  display: inline-block;}
.myForm1 input{display: none;}
.myForm1 label{float: left; line-height: 1.4}
.myForm1 label::before{
  border:none; 
  content: url(../img/rcircle-g.png);
  float: left;
  margin:0 10px;
  cursor: pointer;
}
.myForm1 input[type=checkbox]:checked + label::after{display: block;}
.myForm1 label::after{
  display: none;
  
  left: 10px;
  content: url(../img/rcircle.png);
  color: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.myForm2{position: relative;   width:30%;  display: inline-block;}
.myForm2 input{display: none;}
.myForm2 label{float: left; line-height: 1.4}
.myForm2 label::before{    
  content: url(../img/fcircle-g.png);
  float: left;
  margin:0 10px;
  cursor: pointer;
}
.myForm2 input[type=checkbox]:checked + label::after{display: block;}
.myForm2 label::after{
  display: none;
  top: 0px;
  left: 10px;
  content: url(../img/fcircle.png);
  color: #fff;
  position: absolute; 
  border-radius: 5px;
  cursor: pointer;
}

.fs-label-wrap .fs-label, .fs-option-label {
	color:#4d4d4d !important;
}
.minus{
	color:#4e6c88 !important;
}
.bttn{
	margin-right:10px !important;
}
.size2{
background-color:#cccccc !important;
height:40px;
width:100%;
color:#000;
margin-top:5px !important;
margin-bottom:10px !important;
padding:5px;
float:left;
padding-left:15px;

}
.size2 p{
float:left;
font-size:17px;	
padding-top:2px;

}
#number{
background-color:#ccc;
color:black;
font-size:16px;
width:30px !important;
border:none !important;
padding:5px !important;
float:right;
height:27px;
}

.text-right{
color:#4e6c88 !important;
font-size:17px;
margin:20px 0px!important;
padding-top:5px !important;
padding-left:20px !important;
}
.text-right span{
padding-right:16px !important;
}
	.hc h4{
	font-size:14px !important;
	}
	.btn btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
		margin-left:20px;
      }
	  .btn btn-circle:hover, .active {
	  
	  	border-color:orange;
	  	color:orange;
	  }
      .btn btn-circle .btn-lg {
        width: 50px;
        height: 50px;
        padding: 13px 13px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
		border: 2px solid;	
      }
	  
.size{
	height:40px;
	background-color:#4e6c88;
	color:#fff;
	font-size:16px;
	margin-bottom:20px;
	padding:4px;
	width:60%;
	}
	.size select{
	color:#4d4d4d;
	padding:5px !important;
	margin-top:4px;
	}
	.size p{
	margin:0px !important;
	padding:0px !important;
	float:left !important;
	margin-left:-10px !important;
	padding-top:4px !important;
	}
	.size label{
	padding:10px;
	}
.half-circle13 {
    width: 23px;
    height: 23px;
    background-color: #ccc;
    border-radius: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-left:8.8%;
	margin-top:-3px;
}
.panel-body{
width:100%;
}
.cttotal{
color:#4e6c88;
padding-left:6%;
font-size:26px;
font-weight:bold;
margin-bottom:10px;
}
.ctprice{
margin-bottom:10px;
color:#4e6c88;
font-size:25px;
font-weight:bold;
}
.sq{margin-top:-5px !important;
}
.btn-success {
  background: #18aaf5;
  background-image: -webkit-linear-gradient(top, #18aaf5, #24bff8);
  background-image: -moz-linear-gradient(top, #18aaf5, #24bff8);
  background-image: -ms-linear-gradient(top, #18aaf5, #24bff8);
  background-image: -o-linear-gradient(top, #18aaf5, #24bff8);
  background-image: linear-gradient(to bottom, #18aaf5, #24bff8);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 20px;
  text-decoration: none;
  border: 2px solid #18aaf5;
}
.btn-success:hover {
  background: #18aaf5;
  background-image: -webkit-linear-gradient(top,  #24bff8, #18aaf5);
  background-image: -moz-linear-gradient(top,  #24bff8, #18aaf5);
  background-image: -ms-linear-gradient(top,  #24bff8, #18aaf5);
  background-image: -o-linear-gradient(top,  #24bff8, #18aaf5);
  background-image: linear-gradient(to bottom, #24bff8,  #18aaf5);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 20px;
  text-decoration: none;
  border: 2px solid #18aaf5;
} 
.qtty{
float:left;
}
.qtty label{
 padding-top:5px;
 font-size:20px;
 float:left;
 color:#4e6c88;
 margin-right:30px;
}
.bttn{
	width: 50%;
	float:right;
	
}
.qty-modifier{
float:right;
width: 50%;
}
.hide {
  display: none;
}
.hc{
width:100%;
clear:both;
}
.left-half{
	width:60%;
	float:left;
	font-size:16px !important;
	margin-left:3%;	
}
.right-half{
 width:36%;
 float:right; 
 text-align:right;
}
.size1{
height:40px;
font-size:14px;
color:#fff;
margin-bottom:20px;
padding-top:4px;
margin-left:15px;
width:30%;
margin-top:-15px;
float:left;
}

.size1 select{
color:#4d4d4d;
padding:3px !important;
float:right;
margin-top:15px !important;
margin-right:10px;
border-redius:0;
}
@media only screen and (max-width: 482px) {
.size2{
background-color:#4e6c88 !important;
height:40px;
color:#fff;
margin-top:5px !important;
padding-left:15px;
float:left;
margin-bottom:10px !important;
}
.btn btn-circle {
margin-left:10px;
margin-top:-50px;
}
.cttotal{
font-size:20px;
float :left;
margin-left:0px;
}
.ctprice{
font-size:20px;
float :right;
padding-left:4.8%;
}
.size2 p{
float:left;
font-size:17px;	
padding-top:2px;
}
.left-half{
width:40%;
}
.right-half{width:62%;
margin-top:-30px;
}
.size1{
width:100%;
margin-left:3%;
}
.size{
width:60%;
color:#fff;
}
.bttn{
margin-top:10px;
}
.liner{
margin-top:5px;
}
}
