.drawer{width:101%;border-radius:3px}
.accordion-item-active .accordion-header{background:#385b6f;transition:.25s}
.accordion-item-active .accordion-header-icon{color:#fff}
.accordion-item-active .accordion-header h1{color:#fff}
.accordion-header{background:#4e6c88;height:40px;padding-left:15px;cursor:pointer;transition:.25s;width:100%;margin-bottom:5px;margin-left:15px;text-transform: uppercase;}
.accordion-header h1{float:left;font-size:16px;font-weight:700;color:#fff}
.accordion-content{border:solid 1px #ccc;display:none;padding:12px;color:#212121;background:#fff;font-size:15px;line-height:1.45em;width:100%;margin-bottom:10px;margin-left:15px;}
.accordion-content p{margin:0;margin-bottom:3px}
.accordion-header-icon{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;float:right;color:#fff;font-size:15px;line-height:40px;margin-right:10px;vertical-align:middle}
.accordion-header-icon.accordion-header-icon-active{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);color:#fff}