.fs-wrap {
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    width: 50%;
	margin-left:-10%;
}
.fs-label-wrap {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: default;
	margin-top:-2px !important;
}
#number{
 padding:3px;
 width:100%;	
}
.highlight{border:2px solid #fff !important;}
@media only screen and (max-width: 482px){
.fs-dropdown .fs-options{overflow-x:hidden !important; }
.fs-wrap{
margin-left:-9% !important;
}
 .fs-option-label div{
	font-size:3px!important;
}
}
.fs-label-wrap,
.fs-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
	width: 100%;
	margin-top:2px !important;
}
.fs-label-wrap .fs-label {
    padding: 6px 22px 6px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.fs-arrow{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
}
.fs-dropdown{
margin-top:-1px !important;
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    max-height: 97px !important;
	/*overflow-y:scroll;*/
    z-index: 1000;
}
.fs-dropdown .fs-options {
    max-height: 70px !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}
.fs-dropdown .fs-options::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.fs-dropdown .fs-options::-webkit-scrollbar
{	width: 10px;
	background-color: #F5F5F5;
}
.fs-dropdown .fs-options::-webkit-scrollbar-thumb
{	background-color: #0ae;	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
.fs-search input {
    border: none !important;
    box-shadow: none !important;
    outline: none;
    padding: 4px 0;
    width: 100%;
	color:#4d4d4d;
}
.fs-option,
.fs-search,
.fs-optgroup-label {
    padding: 6px 8px;
    border-bottom: 1px solid #eee;
    cursor: default;
}
.fs-option:last-child {
    border-bottom: none;
}
.fs-search {
    padding: 0 4px;
}
.fs-option {
    cursor: pointer;
	}
.fs-option.disabled {
    opacity: 0.4;
    cursor: default;
}
.fs-option.hl {
    background-color: #f5f5f5;
}
.fs-wrap.multiple .fs-option {
    position: relative;
    padding-left: 30px;
}
.fs-wrap.multiple .fs-checkbox {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
}
.fs-wrap.multiple .fs-option .fs-checkbox i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    background-color: #fff;
}
.fs-wrap.multiple .fs-option.selected .fs-checkbox i {
    background-color: #00aeef;
    border-color: transparent;  
    background-repeat: no-repeat;
    background-position: center;
}
.fs-optgroup-label {
    font-weight: bold;
    text-align: center;
}
.hidden {
    display: none;
}