	.hc h4{
font-size:14px !important;

	}
	.btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }
	  .btn-circle:hover, .active {
	  	background-color:orange !important;
	  	border-color:orange;
	  	color:orange;
	  }
      .btn-circle .btn-lg {
        width: 50px;
        height: 50px;
        padding: 13px 13px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
		border: 2px solid;
      }
	  .half-circle:hover, .half-circle1:hover, .half-circle3:hover{
	  color:orange;
	  }
	.half-circle {
		width: 13px;
		height: 23px;
		background-color: #ccc;
		border-bottom-right-radius: 100px;
		border-top-right-radius: 100px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-left:40%;
		margin-top:-3px;
}
.half-circle1 {
    width: 13px;
    height: 23px;
    background-color: #ccc;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-left:10%;
	margin-top:-3px;
}
.size{
	height:40px;
	background-color:#f7941d;
	color:#fff;
	font-size:14px;
	margin-bottom:20px;
	}
	.size select{
	color:#4d4d4d;
	padding:5px !important;
	margin-top:4px;
	}
	.size label{
	padding:10px;
	}
.half-circle3 {
   width: 23px;
    height: 23px;
    background-color: #ccc;
    border-radius: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-left:8.8%;
	margin-top:-3px;
}
.panel-body{
width:100%;
}
.cttotal{
color:#f7941d;
padding-left:6%;
font-size:26px;
font-weight:bold;
margin-bottom:10px;
}
.ctprice{
margin-bottom:10px;
color:#f7941d;
font-size:25px;
font-weight:bold;
padding-left:10%;

}
.btn-success {
  background: #18aaf5;
  background-image: -webkit-linear-gradient(top, #18aaf5, #24bff8);
  background-image: -moz-linear-gradient(top, #18aaf5, #24bff8);
  background-image: -ms-linear-gradient(top, #18aaf5, #24bff8);
  background-image: -o-linear-gradient(top, #18aaf5, #24bff8);
  background-image: linear-gradient(to bottom, #18aaf5, #24bff8);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 20px;
  text-decoration: none;
  border: 2px solid #18aaf5;
}

.btn-success:hover {
  background: #18aaf5;
  background-image: -webkit-linear-gradient(top,  #24bff8, #18aaf5);
  background-image: -moz-linear-gradient(top,  #24bff8, #18aaf5);
  background-image: -ms-linear-gradient(top,  #24bff8, #18aaf5);
  background-image: -o-linear-gradient(top,  #24bff8, #18aaf5);
  background-image: linear-gradient(to bottom, #24bff8,  #18aaf5);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 20px;
  text-decoration: none;
  border: 2px solid #18aaf5;
} 
.qtty{
float:right;
}
.qtty label{
padding-top:5px;
font-size:20px;
float:left;
color:#f7941d;
margin-right:30px;
}
.bttn{
	width: 40%;
	float:right;
	margin-right:1%;
}
.hide {
  display: none;
}
.hc{
width:100%;
clear:both;
}
.left-half{
width:40%;
float:left;
}
.right-half{
width:60%;
float:left;
padding-left:5%;
padding-right:5%;
}
.handle-counter input{padding:6px;
margin-top:1px;
margin-left:-5px;
width:100px;
}
.handle-counter{
padding-top:6px;
}
.handle-counter .counter-minus, .handle-counter .counter-plus{
padding:5px 10px;
background-color:#f7941d;
border:none;
}
.handle-counter .counter-plus{
margin-left:-5px;
margin-top:-3px;

}
@media only screen and (max-width: 482px) {
.cttotal{
font-size:15px;
padding-left:10%; 	

}
.ctprice{
font-size:15px;
}
.bttn{
margin-right:40%;
}
.size{
width:100%;
}
.qtty{
width:100%;
margin-bottom:20px;
}
.qtty label{
font-size:16px;
margin-right:2px !important;
}

}