/* CSS Document */
label{

}
.obtn{
padding-left:4px;
}
.input:-webkit-input-placeholder {
  color: orange;
}
.dataTables_filter input{
border-color:none !important;
border: 1px solid #CCCCCC !important;}
.user-profile ul{
margin-top:15px;
float:right;

margin-right:-20px;
}
.text1{
font-size:20px;
color:#fff;
text-align:center;
font-weight:bold;
padding-top:16px !important;
}
input::-webkit-input-placeholder         {opacity: 1; transition: opacity 0.3s ease;}
  input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.show input{
border:1px solid #4d4d4d;
margin-top:10px;
margin-bottom:30px;
padding:12px;
}
table caption {
	padding: .5em 0;
}


@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}
.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
.order{
background-color:#f7941d;
padding:10px 0px;
color:#fff;
margin-top:10px !important;
}
.show select{
border:1px solid #4d4d4d;
border-radius:0px;
margin-top:10px;
margin-left:-1px !important;
}
.orange-bar .text-center{margin-top:-10px !important;}
.show_hide{
display:none;
}
.orange_bar a:{
	text-decoration:none;}
.add_select select{
	width:100%;
	border:none !important;
	margin-left:0px !important;
	padding:8px 0px !important;
}
.user-profile{
   margin-top:30px;
	width:92%;
	margin-left:3%;
	text-transform:uppercase;
}
.user-profile h1{
	color:#f7941d;
	border-bottom: 3px solid #f7941d;
	font-size:20px !important;
	padding-bottom:10px;
} 
.grey-box{
	background-color:#D3D3D3;
	margin-bottom:6px !important;
}
.rimg img{
    width:200%;
	padding-top:16px;
}
.input-group-addon{
	background-color:#f7941d;
}
.glyphicon{
 color:#fff;
}
.rcont{
 padding-left: 10%;
    margin-left: 8% !important;
    margin-top: 4% !important;
	padding-bottom:10px;
}
.uaddr{
 width:80.9%;
 margin-left:5%;
}
.uaddrw{
 padding-top:20px;
}
.input-group{
margin-top: -7px;
    margin-bottom: 30px !important;
}
.grey1-box{
 text-transform:uppercase;
 text-align:center;

}
.grey1-box button{
 color:#fff;
 text-transform:uppercase;
 margin-bottom:20px;
}
.control-label .text-right{ margin:0px !important;}
.orange-bar{
 background-color:#f7941d;
 height:60px;
 margin:10px 0px !important;
 clear:both;
 padding-top:8px;
 color:#fff;
 text-align:center;
}
.orange-bar .text-center {
margin-top:-14px !important;}
.orange-bar label{
padding-top:9px !important;
}
.orange-bar .input-group-addon{
background-color:#fff;
}
.orange-bar .glyphicon{
color:#f7941d;
}
.lb label{padding-top:8px}
.da1{
width:89%;
}
.db{
font-size:14px;
padding-left:60px;
}
.da_dob{
width:90% !important;
float:right;
margin-left:10%;
margin-right:-10px;
}
.da_dob span.input-group-addon{
margin-right:-50px !important;
}
.half{
width:50%;}
.modal-header{
background-color:#f7941d !important;
color:#fff !important;
text-align:center !important;
font-weight:bold;

}
#myModal-card .modal-content .btn{
float:right !important ;}
#myModal-card .modal-body .btn{
float:left !important;
margin-left:10px;
margin-top:10px;
margin-bottom:10px;
}
.btnns{
margin-left:40%;
}
#myModal-card .modal-header{
background-color:#fff !important;}
#myModal-card p{
text-align:center;
padding:15px;
}
.modal-body{margin-top:10px !important;
}
.mbody{

width:90%;
margin:0 auto;
overflow-y:scroll;
height:150px;
}
.grey-box-order{
width:90%;
margin:10px auto;
background-color:#ccc;
padding:10px;
border-radius:4px;
}
.lorder{
float:left;
text-transform:uppercase;
padding-left:10px;
padding-bottom:4px;
font-weight:bold;}
.roder{float:right;
font-weight:bold;
margin-bottom:6px;
padding-right:11px;
}
.grey-ip {
width:90%;
margin:0px auto;}
.grey-ip input{
width:100%;
height:100px;
border-radius:3px;
border: 1px solid #4d4d4d;
background-color:#ccc;
}
.orderclose
{
  width:20%;margin:0px auto;
}
.orderc {
 border-radius:5px;
 border:none;
 padding:12px;
 text-transform:uppercase;
 text-align:center;
 font-size:bold;
}
.control-label{
padding-left:40px;
margin-top:-5px !important;
}
.card{
 padding-bottom:10px;}
@media only screen and (max-width: 482px) {
.input-group{margin-bottom:10px !important;}
.btnns{
margin-left:30%;
}
.control-label{
padding-left: 15px !important;
    padding: 0px;
    margin-bottom: 5px !important;
    padding-bottom: 5px;
}
.da_m{padding-left:27px !important;}
.user-profile .btn-success{
margin-left:-10px !important;
margin-top:15px;
margin-bottom:10px;
font-size:14px !important;}
.user-profile h1{
margin-top:-5px;}
.dataTables_wrapper .dataTables_filter input{
width:100% !important;
margin-left:2.2em !important;
margin-top:-1px;
border:1px solid gray;
}
.dataTables_filter input{
float:left;
margin-top:13%;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter{
margin-top:-2px !important;
float:left !important;
width:45%;}
.orderc{margin-left:-10px;}
.user-profile{padding-top:10px; margin-left:-1px;}
.user-profile ul {
margin-bottom:-40px;}
 .rimg img{
	padding-top:16px;
		width:95%;
}
.show{
float:left;
width:40%;
}
.uaddr{
width:91%;
}
.user-profile ul{
float:right;
margin-left:-20px;
}
.user-profile{width:100%;}
.rcont{padding-left:0px !important;
margin-left:-10px !important;
width:108%;
}
.orange-bar{height:auto;
padding-bottom:8px;
}
.orange-bar .input-group{
width:99%;
}
.sbtn{margin-bottom:30px;
}
.da_dob{
width:101% !important;
margin-left:-1px;
}
}
@media (min-width:850px) and (max-width:1000px){
.info-form input[type=text], select{width:90%; padding:1px 10px;}
.input-group{margin-bottom:10px !important;}
.rcont{margin-left:40px !important;padding-bottom:10px;}
.control-label{
    padding-left: 20px;
    padding-top: 10px;
}
.uaddr{width:95.8%;margin-left:2.2%;}
.da_m{padding-left:35px;}
}