.drawer
{
	width:101%;
	border-radius:3px;
}

.accordion-item
{
}
.accordion-item-active .accordion-header
{
	background:orange;
	transition:.25s;
}
.accordion-item-active .accordion-header-icon
{
	color:#fff;
}
.accordion-item-active .accordion-header h1
{
	color:#fff;
}
.accordion-header

{
height:40px;
text-transform:uppercase !important;	
background:orange;
	padding-bottom:33px !important;
	cursor:pointer;	
	transition:.25s;
	width:98.7%;	
	margin-left:-1.7%;
	margin-bottom:10px !important;padding:4px;
}
accordion-header-icon {
    margin-top: 3px;
    margin-right: 10px;
    
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background: #f8981d;
    font-size: 12px;
    font-weight: 900;
    color: #fdfbfb;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    text-shadow: none;
    pading-top: 1px;
    padding-left: 2px;
    font-size: 15px;
}
.accordion-header h1
{
	text-transform:uppercase;
	float:left;
	font-size:18px !important;	
	font-weight: bold;
	margin-bottom:10px;
	color:#fff;
	padding-top:6px!important;
}
.accordion-content
{
	border:none !important;
	display:none;
	padding:12px;
	color:#212121;
	background:#FFF;
	font-size:15px;
	line-height:1.45em;
	width:100%;
	margin-left:-2.5%;
	
}
.drawer{
border:0px !important;
}
.accordion-content p
{
	margin:0;
	margin-bottom: 3px;
}
.accordion-header-icon
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	float:right;	
color:#f8981d;	font-size: 17px;
	font-size:19px;
	vertical-align: middle;
}
.accordion-header-icon.accordion-header-icon-active
{     margin-top: 3px;
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 900;
    color: #fdfbfb;
    text-align: center;
    text-shadow: none;
	pading-top:1px;
    padding-left:2px;
	font-size:15px;
}