*{
    margin: 0;
    padding: 0;
}
button:focus { 
    outline:0;
   
}
html {
    height: 100%;	
    }	
body {
    
    background: transparent;
}
.radio-inline{
	margin-left:40px !important;
	font-size:14px;
	padding:0px ;
	color:#000;
}
.hide{
display:none;
}
 .box{
        color: #fff;
        padding: 20px;
        display: none;
        margin-top: 20px;
		height:100%;
    }
    .returning, .returning1{
		width:100%;
		border : 2px solid #f7941d;
		margin-bottom:20px; 
	}
    .guest{ 
	width:100%;
	border : 2px solid #f7941d;
	margin-bottom:20px; 
	 }
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /*box-shadow: 0 0 15px 1px #f7941d;;*/
	border:solid 1px #bababa;
    padding: 20px 5px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
#msform fieldset:not(:first-of-type) {
    display: none;
}
.outer-border{
    margin-top:20px;
	padding: 10px;
    border: 1px solid #ccc;
	background:#f7f7f7;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
	text-align:center;
	
	}
	.outer-border3 input{border:none !important;
	}
	.outer-border3{
    margin-top:20px;
	padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 92%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
	text-align:left;
	margin-left:10px;
	
	}
	
	.lsp, .rsp{
		margin-left:50%;
	}
	.outer-border1{
		padding: 15px;
    	border: 1px solid #ccc;
    	border-radius: 0px;
    	margin-bottom: 10px;
    	width: 28%;
    	box-sizing: border-box;
    	color: #2C3E50;
    	font-size: 14px;
		text-align:left;
		float:left;		
		margin-left:4%;	
	}
	.outer-border2{
		padding: 15px;
    	border: 1px solid #ccc;
    	border-radius: 0px;
    	margin-bottom: 10px;
    	width: 28%;
    	box-sizing: border-box;
    	color: #2C3E50;
    	font-size: 14px;
		text-align:left;
		float:left;		
		margin-left:4%;	
	}
	.outer-border label{
		color: #2C3E50;
    	font-size: 14px;
		text-align:left;
		padding-top:2px;
		padding-left:10px;
	}
	.outer-border1 select{
		border:none !important;
		width:200px;
	
	}
	.outer-border input {
		border:none !important;
		color: #2C3E50;
    	font-size: 14px;
		text-align:left;
	
		}
		.outer-border select{
		
		border:none !important;
		color: #2C3E50 !important;
    	font-size: 14px;
		text-align:left;
		padding:0px !important;
		padding-left:-10px !important;
		}
		.outer-border1 input{
		
		border:none;
		color: #4d4d4d;
    	font-size: 14px;
		text-align:left;
		width:100%;
		}
	.outer-border : focus{
		border: 1px solid #ee0979;
		}


.outer-border input:focus, .outer-border textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;    
    outline-width: 0;
	outline:none;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

#msform .action-button {
    width: 100px;
    background: #f7941d;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #f7941d;
}
#msform .signup-button {
    width: 100px;
    background: #f7941d;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 10px;
 	margin-top:20px;
 	margin-bottom:20px;
	
	
}

#msform .signup-button:hover, #msform .signup-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #f7941d;
}
#msform .action-button-forgot{
    width: 150px;
    background: #00aeef;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 5px;
}
#msform .action-button-previous {
    width: 100px;
    background: #00aeef;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
	height:auto;
}
#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #00aeef;
	outline:none;
}
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}
#msform ul{
	margin-left:4%;
}
#progressbar li {
    list-style-type: none;
    color: orange;
    text-transform: uppercase;
    font-size: 9px;
    width: 23%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
 	padding-top:2px;
    display: block;
    font-size: 14px;
	font-weight:bold;
    color: #fff;
    background: orange;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: orange;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}
#progressbar li:first-child:after {
    content: none;
}
#progressbar li.active:before, #progressbar li.active:after {
    background: #00aeef;
	color: #fff;
}
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}
.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}
 .outer-border2 select{
		border:1px solid #ccc;
		color:#2C3E50;
    	font-size: 14px;
		text-align:left;
		width:33%;
		float:left;
		border-radius:0px;
		margin-left:-10px;
		padding:5px;		
	}
	.form-inline{
		margin-left:-10px;
		color:#ccc;
		width:100%;
	}
	.info-form input[type=text], select{
	width:100% !important;
	border-radius:0px !important;
	border-color:rgb(204,204,204) !important;
	color:#2C3E50;
	}
	.outer-box input{
padding-left:20px;
	float:left;
	color:#000!important;
	}
	.form-inline1 input{
		color:#2C3E50;
		font-size: 14px;
		text-align:left;
		width:29%;
		float:left;
		border-radius:0px;
		margin-left:3%;
		padding:5px;	
		border: 1px solid orange;
		margin-top:10px;
	
	}
	.form-inline input{
		color:#2C3E50;
		font-size: 14px;
		text-align:left;
		width:100%;
		float:left;
		border-radius:0px;
		padding:12px;	
		border: 1px solid rgb(204,204,204);
		margin-bottom:10px;
		margin-left:2.3%;
		
	}	
	
	.returning input{
		border:1px solid #ccc;
		color: #2C3E50;
    	font-size: 14px;
		text-align:left;
		width:45%;
		float:left;
		margin-left:2%;
		padding:5px !important;
		margin-top:2%;
	}
	.returning2 .radio-inline input{
		border:1px solid #ccc;
		color: #2C3E50;
    	font-size: 14px;		
		width:100%;
		padding:5px !important;
		margin-top:2%;
	}
	.total{
	color:orange;
	font-size:17px;
	font-weight:bold;
	padding-top:20px;
	text-align:right;
	}