
/* CSS Document */
@font-face{
 src:url('../fonts/GothamBold.ttf');
 src:
  url('../fonts/GothamBook.ttf') format('woff'),url('assets/fonts/GothamLightItalic.ttf') format('truetype');
 }
*{
font-family:Gotham !important;
margin:0px;
padding:0px;
font-size:15px;
}	
.tr{float:right !important;}
#myModal1 .modal-header img{
}

.container{width:60%; border:2px solid #000; margin:0px auto;}
#myModal1 .modal-body p{
text-align:center;
font-size:15px;
width:70%;
margin-left:15%;
}
#myModal1 .modal-footer button{
text-align:center;
color:#fff;
background-color:#f7941d;
border-radius:4px;
float:left !important;
}
#myModal1 .modal-content , #myModal2 .modal-content{
border-radius: 0px !important;
width: 70% !important;
margin: 0px auto;
border: 2px solid #f8981d !important; 
margin-top: 100px !important;
}                   
}
#myModal1 .modal-footer .col-md-offset-3{margin-right:20% !important;}
.h4,h4{font-size:15px;}
.cc{text-align:center !important;}
#futureorderStatus .modal-header img{
}
#futureorderStatus .modal-footer .bttn{margin-right:10px !important;}
#futureorderStatus .modal-content{width:70%; margin:0px auto;border-radius:0px !important;border:2px solid #f8981d;}
#futureorderStatus .modal-footer .bttn .btn{float:right !important;text-transform:uppercase!important; color:#fff !important;}
#declineBody{margin-left:-40px !important;}
.logo img{
width:auto;
height:100px;
}
#futureorderStatus .modal-title{
text-align:center;
}
.btn-danger {
	
margin-bottom:10px !important;
}
#acceptLink{margin-left:-40px !important;}
#futureorderStatus .modal-header .close{ margin-right: -15px;
    margin-top: -15px !important;
    background: #f8981d;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    /* background: 0 0; */
    border: 0;
    opacity: 1;
    color: #fff !important;
    padding: 10px;}
#myModal1 .modal-header span,#futureorderStatus .modal-header span{color:#fff !important;}
#myModal1 .modal-footer{
    padding-left: 35% !important;}
	#myModal1 .modal-header button.close {
    margin-right: -15px;
    margin-top: -15px !important;
    background: #f8981d;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    /* background: 0 0; */
    border: 0;
    opacity: 1;
    color: #fff !important;
    padding: 10px;
}
#myModal1 input{
border:2px solid orange;
padding:5px;
margin-top:10px;
}
h4,.h4{font-size:16px !important;}
#myModal2 .modal-body p{
text-align:center;
font-size:15px;
width:100%;
margin-top:3%;
margin-bottom:3%;
}
#myModal2 .modal-footer button{
text-align:center;color:#fff;
background-color:#f7941d;
border-radius:4px;
float:left !important; margin-left:50% !important;
}
#myModal2 .modal-footer .col-md-offset-3{margin-left:50% !important;}
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
fieldset{
margin-left:30%;}

.checkbox input:before {
  content: '';
  background: #fff;
  display: block;
  width:   10px;
  height: 10px;
  border: 1px solid orange;
}
.checkbox input:checked:before {
  background-color: orange;
}
h3{
color:orange;
font-weight:bold;
margin-top:0px !important;
}
.order{
width:60%;
border: 2px solid #4d4d4d;
}
.logo{
margin : 20px auto;
} 
.modal12 .col-md-offset-3{margin-left:33.3% !important;}
.logo img{
width:auto;
height:100px;
}
#LoadingImage img, #LoadingImage1 img{width:100% !important;}
.cc{
	text-transform:uppercase;
	font-weight:bold;
	color:green;
}
.cash{
text-align:center;
text-transform:uppercase;
font-weight:bold;
color:red;
}
.order_type{
text-transform:capitalize;
font-weight:bold;
}
.orange-bar{
background-color:#f7941d;
height:17px;
margin-bottom:20px;
}
.banner{
margin:20px auto;
background-color:#f0f0f0;
width:96%;
padding-top:20px;
padding-bottom:20px;
border-top:2px solid #f7941d;
border-bottom: 2px solid #f7941d;
}
.content{font-weight:bold;
}
.content1{
margin-top:20px !important;
}
.copyrights{
background-color:#f7941d;
height:20px;
color:#fff;
width:100%;

}
.copyrights p{
text-align:center ;
font-size: 9px;
padding: 2px;
}
.orange-line{
background-color:#f7941d;
height:2px;
margin:20px auto;
width:96%;
margin-bottom:20px;
}
 h2{
	color:#f7941d;
	text-transform:uppercase;
	font-size:20px;
	margin-bottom:20px !important;
	font-weight:bold;
	margin-left:2%;
}
.billing_addr h4 strong{
font-size:15px !important;
}
.billing_addr, .billing_addr h4{
text-align:center;
}
.btn_success{margin-left:180%; }
.btn_danger{margin-left:50%;}
.billing_addr img{
height:40px;
margin-top:15px;
}
.billing_addr a{
color: inherit;
text-decoration:none;
}
.billing_addr a:hover{
color: inherit;
text-decoration:none !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	margin-top: -35px;
}
td,th{
    text-align: left;
    padding: 12px;
    border-top: none !important;
    border-left: none !important;
    border-right:none !important;
    font-size:18px;
}
.myModal2{
	color: #f7941d;
    font-size: 20px !important;
}
#myModal2 .modal-content{width:80% !important;}
.last_td{
	float:right !important;
	text-align: right;
}
.bottom{
	color: #f7941d;
    font-size: 26px;
    font-weight: 600;
}
tr{
	border-bottom:2px solid #ddd;
	font-size: 18px !important;
	font-weight:600;	
}
th {
    font-size: 20px !important;
}
.lft, .rht {
    color: #f7941d;
    font-size: 15px;
    font-weight: 600;
}
.tr{float:right !important;}
.bttn{
 text-align:center !important;
}
.table{margin-left:12px !important;margin:10px auto; width:97% !important;}
.st{font-size:15px !important;
} 
.padding-logo img{object-fit: cover;
    width: auto;
    height: 65px !important;}
	.padding-logo{

	margin:0px auto;
	padding:10px;}
.box{
        color: #fff;
        padding: 20px;
        display: none;
		margin-top:-20px;
		margin-left:-10px;		
    }
	.box input{
	 border:1px solid orange;
	 padding:10px;
	 color:black;
	}
    .red{ }
	#futureorderStatus .modal-header img{}
	#futureorderStatus .modal-title, #futureorderStatus h3{text-align:center;}
	.content1 b{text-transform:capitalize;}
	.bttn .btn-success{margin-left:165% ;}
	#futureorderStatus .modal-header img {
    padding-left: 20%;
}
.table>thead>tr>th{border-bottom:0px solid #eee !important;}
@media only screen and (max-width: 482px) {
	.col-xs-3 .text-right{margin-left:59px !important;}
	.table {
	margin-left:-3px !important;}
	#acceptLink{margin-left:0px !important;}
	.row .content1 .text-right{margin-left:15% !important;}
.bttn .btn-success{margin-left:0% !important;}
#futureorderStatus .modal-content{width:100% !important;}
#myModal1 .modal-footer {
padding-left: 40% !important;
}
#futureorderStatus .modal-header img{padding-left:10% !important;}
#myModal1 .modal-footer .col-md-offset-3 {
margin-right: 10% !important;
}

#myModal2 .modal-footer{padding-left:20%;}
#myModal1 .modal-content, #myModal2 .modal-content{width:100% !important;}
#myModal2 .modal-footer .col-md-offset-3{margin-left:10% !important;}
.tablehead1 h5,.tablehead1 h5 strong{font-weight: 700 !important;
    font-size: 13px !important;
    text-transform: capitalize;}
.btn_success,.btn
_danger{margin-left:0%;}
.tablehead1 h4{font-size:15px !important;}
#futureorderStatus .modal-header img{margin-left:0% !important;}
#LoadingImage img,#LoadingImage1 img{width:80%!important; margin-left:-20px;}
.container{width:100% !important;overflow-x:hidden !important;margin-left:-0px;}
fieldset{
margin-left:20%;}
.st{font-size:14px!important; }
h2{
 font-size:15px;
 margin-left:4%;
}
.order{
 width:100% !important;
 overflow:hidden !important;
}
.last_font{
 font-size:28px !important;
 font-weight:bold !important;
}
.btn{
 font-size:13px !important;
 color:#fff; 
}
#futureorderStatus h3{font-size:16px !important;}
#futureorderStatus .modal-header{text-align:center;}
#futureorderStatus .modal-body{text-align:center;}
#futureorderStatus .bttn{margin-top:-10px;
 margin-bottom:2px;
}
.bttn{
 width: 70%;
 margin:10px auto;
}
.font-light{
 font-size:18px !important;
}
th{
  font-size:14px !important;
}
#7LoadingImage{width:80%;
 margin:0px auto;}
.lft,.rht{
 font-size:16px;
}
.content .text-right, .content .text-left, h2, .content1 .text-left{
 text-align:center !important;
}
}
